<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= form_with(model: [ @category, @product ]) do |form| %>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :name, "Nombre" %>
      <%= form.text_field :name, :class => 'form-control' %>
    </div>


    <div class="form-group">
      <%= form.label :price, "Price" %>
      <%= form.text_field :price, :class => 'form-control' %>
    </div>

    <%= form.submit "Guardar", :class => 'btn btn-info' %>

  </div>

</div>
<% end %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<br/><br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td scope="col">Nombre</td>
      <td scope="col">Precio</td>
      <td scope="col">Opciones</td>
    </tr>
  </thead>

  <tbody>
    <% @category.products.each do |p| %>
    <tr>
      <td><%=p.name %></td>
      <td><%=p.price %></td>
      <td><%= link_to "Elminar", category_product_path(@category, p), method: :delete, :class => 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>

</table>
